/* Nav bar css */
*{
  margin: 0px;
  padding: 0px;
}

h1{
  font-family: 'Titillium Web', sans-serif;
}

#sidebar{
  z-index: 100;
  position:fixed;
  width:200px;
  height:100%;
  background-color: #ff2800;
  left: -200px;
  transition: all 500ms linear;
}

#sidebar.active {
  left: 0px;
}

#sidebar ul li {
  font-weight: bold;
  font-size: 15px;
  color: white;
  list-style: none;
  padding: 14.5px 10px;
  border-bottom: 1px solid white;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
}

#sidebar .toggle-btn span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #ff2800;
  margin: 5px 0px;
}

#barHead{
  font-weight: bold;
  font-size: 30px; !important
  font-family: 'Titillium Web' sans-serif;
}

/* Source bar css */

#sourceBar{
  z-index: 100;
  position:fixed;
  width:200px;
  height:100%;
  background-color: #ff2800;
  right: -200px;
  transition: all 500ms linear;
}

#sourceBar.active {
  right: 0px;
}

#sourceBar ul li {
  font-weight: bold;
  font-ssize: 15px;
  color: white;
  list-style: none;
  padding: 15px 5px;
  border-bottom: 1px solid white;
}

#sourceBar .toggle-btn2 {
  position: absolute;
  right: 230px;
  top: 20px;
}

#sourceBar .toggle-btn2 span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #ff2800;
  margin: 5px 0px;
}
