body{
	background-color: #ffffff;
	font-family: 'Titillium Web', sans-serif;
	color:	#333;
}


/*navigation bar*/
		.fixednav {
			position: fixed;
			top: 10;
			left: 10;
		}
		.staticnav {
			position: static;
		}
		.navbar {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #E10600;
		}

		li {
			float: left;
		}

		li a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		#box:hover {
			background-color: #15151E;
		}
